body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #ddd;
}


.wrapper {
    width: 980px;
    height: 100vh;
    background: #ccc;
    margin: 0 auto;
}
.head {
    width: 100%;
    background: #1e40c4;
}
.menu{
    margin-right: 0;

    overflow: hidden;
}
.logo{
    float:left;
}
.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
}
.menu ul li{
    float:left;
    border:1px solid #0025b5;
}
.menu ul li a{
    text-decoration: none;
    padding: 20px 30px;
    color:#fff;
    display: block;
    text-align: center;
    font-family: sans-serif;
    font-weight:bold;
    font-size: 16px;
    cursor: pointer;
}
.menu ul li a:hover{
    background: #0025b5;
    color:#fff;

}
.content h2{
    text-align: center;
    margin-top: 50px;
}
form {
    width: 50%;
    margin: 0 auto;
    background: #fff;
    padding: 40px 50px;
    height:350px;
}
.form-group{
    margin-top: 20px;
    padding: 5px;
    
}
.form-group input,
.btn {
    box-sizing: border-box;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; 
}
.form-group input[type=submit] {
    background-color: #04AA6D;
    color: white;
    cursor: pointer;
    width:100%;
  }
  
  .form-group input[type=submit]:hover {
    background-color: #45a049;
  }